body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #a30000;
}

nav{
    background-color: #ffffff;
    color: white;
}

main {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #680c0c;
    color: #f5f5f5;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
}

h1{
    color: #a30000;
}

a{
    text-decoration: none;
    color: #a30000;
}