<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1 style="color: #a30000;">Farmácia Online</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('mostrar_produtos') }}">Produtos</a>
            <a href="{{ url_for('carrinho') }}">Carrinho</a>
        </nav>
    </header>

    <main>
        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>